body{
    background-color: black;
}

h1{
    display:flex;
    color: tan;
    justify-content: center;
    font-family:'Courier New', Courier, monospace
    
}

#first-image {
    position: relative; bottom: 130px; left: 450px;
}

#second-image{
    position: relative; right: 500px; top: 175px;
    
}

#third-image{
    position: relative; left: 275px; top: 175px;
    
}

h2{
    justify-content: center;
    color: bisque;
    text-align: center;
    position: relative; bottom: 150px;
    font-family:'Courier New', Courier, monospace
    
}

h3{
    color: beige;
    text-align: center;
    position: relative; bottom: 50px;
    font-family:'Courier New', Courier, monospace
}

h4{
    text-align: center;
    position: relative; bottom: 300px;
}