body{
    background-color: black;
}

h1{
    color: bisque;
    text-align: center;
    font-family:'Courier New', Courier, monospace
    
}

#first-image {
    margin-left: 31%;
    margin-right: 50%;
}

#second-image{
    padding-left: 2%;
    padding-bottom: 5%;
}

#third-image{
    position: relative; left: 725px; bottom: 75px;
    
}

h2{
    color: bisque;
    text-align: center;
    position: relative; bottom: 550px;
    font-family:'Courier New', Courier, monospace
    
}

h3{
    color: bisque;
    text-align: center;
    position: relative; bottom: 520px;
    font-family:'Courier New', Courier, monospace
}

h4{
    text-align: center;
    position: relative; bottom: 500px;
}